<!DOCTYPE html>
<html>
<head>
    <title>Messages</title>
    {% load static %}
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js"></script>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="{% static 'js/graph.js' %}?v=1.0.2"></script>
</head>
<body>
    {% include 'partials/account_links.html' %}
    {% include 'partials/post_message_form.html' %}
    {% include 'partials/create_link_form.html' %}
    <!-- <svg id="network" width="960" height="600"></svg> -->
    <div id="network" style="width: 100%; height: 400px;"></div>
    {% include 'partials/messages_list.html' %}
    {% include 'partials/links_list.html' %}
</body>
</html>
