<!-- templates/partials/links_list.html -->
<h2>All Links</h2>
<ul>
    {% for link in links %}
        <li>
            <!-- Delete link form -->
            <form action="{% url 'delete_link' %}" method="post" style="display: inline;">
                {% csrf_token %}
                <input type="hidden" name="link_id" value="{{ link.id }}">
                <input type="submit" value="Delete">
            </form>
            {{ link.id }}
            {{ link.source_message.content }}
            <strong>{{ link.link_type }}</strong>
            {% if link.target_message %}
                {{ link.target_message.content }}
            {% elif link.target_link %}
                Link to Link ID: {{ link.target_link.id }}
            {% else %}
                [No Target]
            {% endif %}
        </li>
    {% empty %}
        <li>No links found.</li>
    {% endfor %}
</ul>
